*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: 'Merriweather', serif;
  color: #384047;
}

header {
   background-color: #000;
   padding: 15px;
}

.head {
	color: #FFF;
}

:focus  {
	outline: 0;
}

form {
  max-width: 400px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="datetime"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[class="zip_code"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 50%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

[placeholder="Required"] {
	text-align: right;
	font-style: italic;
}

.newsletter_select {
	padding-bottom: 10px;
}

input:focus, textarea:focus {
    background-color: #B7D4AE;
    border: 1px solid #F47E58;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 19px;
  color: #000;
}

h3 {
  color: #8a97a0;
  text-align: center;
  font-size: 12px;
  margin-top: -15px;
  font-weight: normal;
  border-bottom: solid 3px #000;
  padding-bottom: 20px;
}

hr {
  margin-top: -10px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.copyright {
	font-style: italic;
}

footer {
	color: #8a97a0;
	text-align: center;
	margin-top: -30px;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

@media screen and (min-width: 760px) {

  form {
    max-width: 760px;
  }

}